<!DOCTYPE html>
<html lang="en" style="background-image:url('{{backgroundImg}}');" class="{{style}}">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{{title}}</title>
	<link rel="stylesheet" href="/assets/styles.css" />
</head>

<body>
	<header>
		<h1>{{title}}</h1>
		<h2>&mdash; Extraordinary Boats &mdash;</h2>
		<em>{{subhead}}</em>
		<nav>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="infopage.html">Info</a></li>
				<li><a href="About.html">About</a></li>
				<li><a href="Links.html">Contact</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section>
			{{ content }}
		</section>
	</main>
	<footer>
		<p>&copy; 2025</p>
	</footer>

</body>

</html>
