<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{{title}}</title>
	<link rel="stylesheet" href="/assets/styles.css" />
</head>

<body style="color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); background-image: url(./pics/AAAA%20-%20bigger.jpg);" alink="#33ff33" link="#33ff33" vlink="#33cc00">
	<header>
		<h1>{{title}}</h1>
		<h2>&mdash; Extraordinary Boats &mdash;</h2>
		<p>Plans and kits for ultralight, inexpensive and easy to build rowboats, sailboats, paddleboards,
			canoes, kayaks and more</p>
		<nav>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="infopage.html">Info</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>
	</header>
	{{ content }}
	<footer>
		<p>&copy; 2025</p>
	</footer>

</body>

</html>
