
.company {
	.triskelion {
		width: 45px;
	}
}
.triskelion{
	vertical-align: bottom;
	width: 70px;
	height: auto;
	margin-left: -1rem;
}
.dark .triskelion{
	filter: invert(1);
	mix-blend-mode: screen;
}
.grey .triskelion{
	mix-blend-mode: multiply;
}

iframe[src*="youtube.com"]{
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

img {
	max-width: 100%;
	height: auto;
}
figure {
	margin: 2rem 0;
}

.boat-catalog-thumb {
	display: block;
}

.featured-boats {
	img {
		display: block;
		margin-bottom: 1em;
		&.thumb{
			max-width: 400px;
			display: block;
			margin: 0 auto;
		}
	}
}
