
.light body {
	color: black;
	a {
		color: #338413;
	}
}

.dark body {
	color: white;
	a {
		color: #33bc33;
		&:hover {
			color: #d699f9;
		}
	}
	.featured-boats {
		> a {
			color: white;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}


.grey body {
	color: black;
	background-color: #bbb;
	a {
		color: #2d9c02;
	}
	nav ul {
		border-color: #777
	}
}
