  
/* Responsive */
@media (max-width: 600px) {
	nav ul {
		justify-content: space-between;
	}
	nav ul li {
		padding: .2rem .5rem;
	}
	header,
	footer,
	main {
		padding: 0 1rem 1rem 1rem;
	}
	ul {
		padding-left: 1rem;
	}
}
