.sidenav {
  width: 100%; // Adjust as needed
  max-width: 160px; // Optional: Limit the width
  background-color: #222;
  @media (max-width: 600px) {
    max-width: 100%; // Full width on smaller screens
  }

  button.dropdown-btn {
    width: 100%;
    background-color: #222;
    color: #33bc33;
    font-family: Times;
    border: none;
    padding: 0.75rem;
    text-align: left;
    font-size: .85rem;
		text-transform: uppercase;

    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #333;
      color: #d699f9;
    }
  }

  .dropdown-container {
    max-height: 0; // Initially hidden
    overflow: hidden; // Prevent content from overflowing
    background-color: #222;
    transition: max-height 0.3s ease-out; // Smooth transition
    padding: 0;

    a {
      display: block;
      text-decoration: none;
      padding: 0.25rem 0.5rem 0.25rem 1rem;
      transition: color 0.3s ease;
			font-size: 0.9rem;
			line-height: 1.2;
			background-color: #ddd;
			color: #222;
			border-bottom: 1px solid #aaa;
      &:hover {
        color: #8e0fd7;
      }
			&:first-child {
				padding-top: 0.5rem;	
			}
			&:last-child {
				padding-bottom: 0.5rem;
			}
    }

    &.open {
      max-height: 500px; // Set a maximum height large enough for the content
      padding: 0.5rem 1rem; // Add padding when open
    }
  }
}
