/* Reset */
* {
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 18px;
}

/* Layout */
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-position: top left;
	background-size: cover;
	line-height: 1.5;
}

header,
footer {
	padding: 1rem;
}

main {
	flex: 1;
	padding: 1rem;
}

section {
	max-width: 40rem;
}

/* Navigation */
nav ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

nav a {
	text-decoration: none;
}

/* Responsive */
@media (max-width: 600px) {
	nav ul {
		flex-direction: column;
	}
}
