/* Reset */
* {
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 18px;
	min-height: 100vh;
	background-position: center left;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	&.light{
		background-color: white;
	}
	&.dark {
		background-color: black;
	}
	&.grey {
		background-color: #aaa;
	}
}

/* Layout */
body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-position: top left;
	background-size: cover;
	line-height: 1.5;
}

.light body {
	color: black;
	a {
		color: #338413;
	}
}
.dark body {
	color: white;
	a {
		color: #33ff33;
	}
}

.grey body {
	color: black;
	background-color: #bbb;
	a {
		color: #2d9c02;
	}
	nav ul {
		border-color: #777
	}
}
header {
	padding: 0 1rem 0 2rem;
}
footer,
main {
	padding: 0 1rem 1rem 2rem;
}

main {
	flex: 1;
}

.header-rows, section, footer {
	max-width: 40rem;
}

/* Navigation */
nav ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid #bbb;
	border-top: 1px solid #bbb;
	padding: .5rem 0;
	li {
		text-transform: uppercase;
		font-size: 90%;
		padding: .2rem 1.75rem;
	}
}

.light nav ul li {
	font-weight: bold;
}
.grey nav ul li {
	font-weight: bold;
}
nav a {
	text-decoration: none;
}

h1, h2, h3, footer p, .subhead {
	line-height: 1.2;
	text-align: center;
}

ul {
	padding-left: 2rem;
}
.company {
	.triskelion {
		width: 45px;
	}
}
.triskelion{
	vertical-align: bottom;
	width: 70px;
	height: auto;
	margin-left: -1rem;
}
.home-link {
	font-weight: bold;
	text-decoration: none;
}
.dark .triskelion{
	filter: invert(1);
	mix-blend-mode: screen;
}
.grey .triskelion{
	mix-blend-mode: multiply;
}

iframe[src*="youtube.com"]{
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

/* Responsive */
@media (max-width: 600px) {
	nav ul {
		justify-content: space-between;
	}
	nav ul li {
		padding: .2rem .5rem;
	}
	header,
	footer,
	main {
		padding: 0 1rem 1rem 1rem;
	}
	ul {
		padding-left: 1rem;
	}
}
