/* Reset */
* {
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 18px;
	min-height: 100vh;
    background-position: center left;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
	&.light{
		background-color: white;
	}
	&.dark {
		background-color: black;
	}
}

/* Layout */
body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-position: top left;
	background-size: cover;
	line-height: 1.5;
}

.light body {
	color: black;
	a {
		color: #338413;
	}
}
.dark body {
	color: white;
	a {
		color: #33ff33;
	}
}

header,
footer,
main {
	padding: 0 1rem 1rem 2rem;
}

main {
	flex: 1;
}

header, section {
	max-width: 40rem;
}

/* Navigation */
nav ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid #bbb;
	margin-bottom: 0;
	li {
		text-transform: uppercase;
		font-size: 90%;
		padding: .2rem 1.5rem .3rem 0;
	}
}

.light nav ul li {
	font-weight: bold;
}
nav a {
	text-decoration: none;
}

h1, h2, h3 {
	line-height: 1.2;
	text-align: center;
	margin-left: -2rem;
}

.company {
	.triskelion {
		width: 45px;
	}
}
.triskelion{
	vertical-align: bottom;
	width: 70px;
	height: auto;
	margin-left: -1rem;
}
.home-link {
	font-weight: bold;
	text-decoration: none;
}
.dark .triskelion{
	filter: invert(1);
}
/* Responsive */
@media (max-width: 600px) {
	nav ul {
		flex-direction: column;
	}
}
