/* Table Styles */
@mixin table-styles($bg-color, $border-color, $header-bg, $header-color, $row-hover) {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
  font-size: 1rem;
  font-family: Times, serif;
  background-color: $bg-color;

  th,
  td {
    border: 1px solid $border-color;
    padding: 0.75rem;
    text-align: left;
  }

  th {
    background-color: $header-bg;
    color: $header-color;
    font-weight: bold;
  }

  tr {
    &:hover {
      background-color: $row-hover; /* Hover color */
    }
  }

  a {
    color: #007bff; /* Link color */
    text-decoration: none;
		font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

/* Light Theme Table */
html.light .table {
  @include table-styles(#f9f9f9, #ddd, #333, white, #e9e9e9);
}

/* Dark Theme Table */
html.dark .table {
  @include table-styles(#222, #444, #1a1a1a, white, #2b2b2b);
}
